//=====================
//===CORES PRIMARIAS===
//=====================
$red-normal: #DA2535;
$red-light: #F4D9DC;
$pink-normal: #F7C7B9; 

//===================
//===CORES NEUTRAS===
//===================

$white-normal: #F9F9F9;
$black-normal: #161212;
$gray-normal: #404040;
$gray-light:  #8D8D8D;