html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: $white-normal;
}


::-webkit-scrollbar-thumb{
    background-color: $red-normal;
    border-radius: 20px;
}


//============
//===HEADER===
//============

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-text{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    padding: 0 12px;
}

ul{
    display: inline-flex;
    list-style: none;
}

li{
    color: $black-normal;
    padding: 0 20px;
}

@media screen and (max-width: 960px){
    li{
        display: none;
    }
}

.link{
   //padding: 2px 4px;
    
    transition: .5s ease-in-out;

    position: relative;

    &::after{
        content: '';
        display: block;

        position: absolute;
        top: 100%;
        left: 0;

        width: 0%;
        height: 2px;
        border-radius: 10px;

        transform: translate(25%, 50%);
        transition: .3s ease-in-out;

        background-color: $red-normal;
    }

    &:hover{
        //color: $green-dark;
        opacity: 1;

        &::after{
            width: 70%;

        }
    }
}

//==========
//===HERO===
//==========

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 0 400px 0;
    
}

.hero-item > p {
    color: $gray-normal;
    padding: 24px 0 40px 0;

}

.hero-img{
    content: '';
}

@media screen and (max-width: 960px){
    .hero-img{
        display: none;
    }

    

    .hero-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;

        margin: 0 auto;
    }
 
}

button{
    cursor: pointer;


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: $white-normal;

    border: 0;
    background-color: $red-normal;
    width: 250px;
    height: 48px;
    border-radius: 8px;
}

.hero-btn:hover{
    opacity: .85;
    
}

//=============
//===CONTENT===
//=============

.content{
    padding: 124px 0;
    background-color: $white-normal;
    width: 100%;
}

.content-item{
    text-align: center;
    line-height: 24px;
    padding: 48px 0 32px 0;
}

.content-item > h1{
    padding: 0 0 24px 0;
}

.card-gift{
    display: flex;
    justify-content: space-between;
}

.card{
    color: $gray-light;
    padding: 32px 0;
    text-align: center;
}

@media screen and (max-width: 960px){
    .card-gift{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
    }
}

.card > h6{
    color: $black-normal;
    padding:17px 0 12px 0;
}

//==========
//===FOOT===
//==========

.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-img{
    padding: 90px 0 0 0;
}

.foot-item{
    padding: 90px 0;
}

.foot-item > p{
    color: $gray-normal;
    padding: 24px 0 32px 0;
}

@media screen and (max-width: 960px){
    .foot-img{
        display: none;
}

    .foot-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;

        margin: 0 auto;
    }
}


//============
//===FOOTER===
//============

footer{
    padding: 59px 0;
    background-color: $white-normal;
}

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    
}


.social-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $red-light; 
    margin: 0 12px;
}


