* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: 'Poppins', 'sans-serif';
}

h1 {
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  line-height: 52px;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: #161212;
  cursor: pointer;
}

li {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

body {
  width: 100%;
  background-color: #F7C7B9;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F9F9F9;
}

::-webkit-scrollbar-thumb {
  background-color: #DA2535;
  border-radius: 20px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  border-bottom: 1px solid #F4D9DC;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  padding: 0 12px;
}

ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

li {
  color: #161212;
  padding: 0 20px;
}

@media screen and (max-width: 960px) {
  li {
    display: none;
  }
}

.link {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: relative;
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  border-radius: 10px;
  -webkit-transform: translate(25%, 50%);
          transform: translate(25%, 50%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  background-color: #DA2535;
}

.link:hover {
  opacity: 1;
}

.link:hover::after {
  width: 70%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 184px 0 184px 0;
}

.hero-item > p {
  color: #404040;
  height: 100vh;
}

.hero-img {
  content: '';
}

@media screen and (max-width: 960px) {
  .hero-img {
    display: none;
  }
  .hero-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}

button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #F9F9F9;
  border: 0;
  background-color: #DA2535;
  width: 250px;
  height: 48px;
  border-radius: 8px;
}

.hero-btn:hover {
  opacity: .85;
}

.content {
  padding: 96px 0;
  background-color: #F9F9F9;
  width: 100%;
}

.content-item {
  text-align: center;
  line-height: 24px;
  padding: 48px 0 32px 0;
}

.content-item > h1 {
  padding: 0 0 24px 0;
}

.card-gift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  color: #8D8D8D;
  padding: 32px 0;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .card-gift {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.card > h6 {
  color: #161212;
  padding: 17px 0 12px 0;
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot-img {
  padding: 90px 0 0 0;
}

.foot-item {
  padding: 90px 0;
}

.foot-item > p {
  color: #404040;
  padding: 24px 0 32px 0;
}

@media screen and (max-width: 960px) {
  .foot-img {
    display: none;
  }
  .foot-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}

footer {
  padding: 59px 0;
  background-color: #F9F9F9;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-btn {
  content: '';
}

.social-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F4D9DC;
  margin: 0 12px;
}

@media screen and (max-width: 960px) {
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social-circle {
    margin-top: 12px;
  }
}
/*# sourceMappingURL=style.css.map */
